@using Recruitment.Models.Entities
@model CreatejobRequest

<h2>Job List</h2>

<section class="basic-elements">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline-primary">
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                @* <button type="button" class="btn btn-outline-primary btn-round mr-2" id="btnAddNew"> *@
                                @*  <i class="fa fa-plus mr-1"></i>Add New @ViewData["Title"] *@
                                <a id="addjobBtn" data-bs-toggle="modal" class="btn btn-outline-primary btn-round mr-2" style="float:right">Add Job</a>

                            </div>
                        </div></br>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table display nowrap table-striped table-bordered scroll-horizontal w-100 text-center nowrap dataTable no-footer" id="tbldata">
                                    <thead>
                                        <tr>
                                            <th>Sr No.</th>
                                            <th>Title</th>
                                            <th>Jobdescription</th>
                                            <th>Qualification</th>
                                            <th>Experience</th>
                                            <th>Age</th>
                                            <th>Validupto</th>
                                            <th>Vacancies</th>
                                            <th>Createddate</th>
                                            <th>Createdby</th>
                                            <th>Is Active</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@section Scripts {
    <script src="@Href("~/js/ckeditor.js")"></script>

    <script src="@Href("~/js/Pages/Createjob.js")"></script>
    <!-- Modal -->
    <div class="modal fade" id="addjobModal" tabindex="-1" aria-labelledby="addjobModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addExperienceModalLabel">@ViewData["Title"] Createjob</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="form">
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="JobId" />
                        <div class="mb-3">
                            <label class="form-label" asp-for="Title">Title :</label>
                            <input type="text" class="form-control" id="Title" name="Title" required>
                            <span class="text-danger" id="jobError"></span>

                            <label class="form-label" asp-for="Jobdescription">Jobdescription :</label>
                            <input type="text" class="form-control" id="Jobdescription" name="Jobdescription" required>
                            <span class="text-danger" id="jobdescError"></span>

                            <label class="form-label" asp-for="Qualification">Qualification :</label>
                            <input type="text" class="form-control" id="Qualification" name="Qualification" required>
                            <span class="text-danger" id="qualificationError"></span>

                            <label class="form-label" asp-for="Experience">Experience :</label>
                            <input type="text" class="form-control" id="Experience" name="Experience" required>
                            <span class="text-danger" id="experienceError"></span>

                            <label class="form-label" asp-for="Age">Age :</label>
                            <input type="text" class="form-control" id="Age" name="Age" required>
                            <span class="text-danger" id="ageError"></span>

                            <label class="form-label" asp-for="Validupto">Validupto :</label>
                            <input type="text" class="form-control" id="Validupto" name="Validupto" required>
                            <span class="text-danger" id="validuptoError"></span>

                            <label class="form-label" asp-for="Vacancies">Vacancies :</label>
                            <input type="text" class="form-control" id="Vacancies" name="Vacancies" required>
                            <span class="text-danger" id="vacanciesError"></span>

                            <label class="form-label" asp-for="Createddate">Createddate :</label>
                            <input type="text" class="form-control" id="Createddate" name="Createddate" required>
                            <span class="text-danger" id="createddateError"></span>

                            <label class="form-label" asp-for="Createdby">Createdby :</label>
                            <input type="text" class="form-control" id="Createdby" name="Createdby" required>
                            <span class="text-danger" id="createdbyError"></span>

                            <div class="col-md-4 mt-1">
                                <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                    <br />
                                    <input type="checkbox" class="custom-control-input" asp-for="IsActive" />
                                    <label class="custom-control-label float-left">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary btn-round" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-primary btn-round" id="btnMdlSave">Save</button>
                </div>
            </div>
        </div>
    </div>
}

