@using Recruitment.Models.Entities
@model CreatejobRequest

<style>
    #tblData{
        width: 1152.422px !important;
    }
</style>
<div class="row">
    <div class="col-md-6">
        <h2>Job List</h2>
    </div>
    <div class="col-md-6">
        <a id="addjobBtn" data-bs-toggle="modal" class="btn btn-outline-primary btn-round" style="float:right">Add Job</a>
    </div>
</div>
<br></br>

<section class="basic-elements">
    <div class="row">
        <div class="col-md-12">
            <div class="card-outline-primary">
                <div class="card-block card-dashboard">
                    <div id="cardsContainer" class="row">
                        <!-- Dynamic Cards will be rendered here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@section Scripts {
    <script src="@Href("~/js/ckeditor.js")"></script>
    <script src="@Href("~/js/Pages/Createjob.js")"></script>
    <script src="@Href("~/js/ckeditor.js")"></script>
    <script src="~/jquery.js"></script>
    <script src="~/ckeditor.js"></script>
    <script src="~/adapters/jquery.js"></script>
    <!-- Modal -->
    <div class="modal fade" id="addjobModal" tabindex="-1" aria-labelledby="addjobModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addjobModalLabel">@ViewData["Title"] Createjob</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <form id="form">
                                @Html.AntiForgeryToken()
                                <input type="hidden" id="JobId" name="JobId" />
                                <input type="hidden" id="Createddate" name="Createddate" value="@DateTime.Now" />
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label" asp-for="Title">Title :</label>
                                        <input type="text" class="form-control" id="Title" name="Title">
                                        <span class="text-danger" id="jobError"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" asp-for="Vacancies">Vacancies :</label>
                                        <input type="text" class="form-control" id="Vacancies" name="Vacancies">
                                        <span class="text-danger" id="vacanciesError"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label asp-for="qualification">Qualification :</label>
                                        <select id="qualification" name="qualification" class="form-control">
                                            <option value="">Select Qualification</option>
                                        </select>
                                        <span class="text-danger" id="qualificationError"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Experience">Experience :</label>
                                        <select id="Experience" name="Experience" class="form-control">
                                            <option value="">Select Experience</option>
                                        </select>
                                        <span class="text-danger" id="experienceError"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label" asp-for="Age">Age :</label>
                                        <input type="text" class="form-control" id="Age" name="Age">
                                        <span class="text-danger" id="ageError"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" asp-for="Validupto">Valid Upto :</label>
                                        <input type="date" class="form-control" id="Validupto" name="Validupto">
                                        <span class="text-danger" id="validuptoError"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-12">
                                        <label class="form-label" asp-for="Jobdescription">JobDescription :</label>
                                        <textarea class="form-control" id="Jobdescription" name="Jobdescription" rows="2"></textarea>
                                        <span class="text-danger" id="jobdescError"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label" asp-for="IsActive">Is Active</label>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="IsActive" name="IsActive" />
                                            <span class="text-danger" id="isactiveError"></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary btn-round" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-primary btn-round" id="btnMdlSave">Save</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="addDetailModal" tabindex="-1" aria-labelledby="addDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <form id="form">
                                @Html.AntiForgeryToken()
                                <input type="hidden" id="JobId" name="JobId" />
                                <div class="row mb-3">
                                    <div class="col-sm-12">
                                        <label class="form-label" asp-for="Jobdescription">JobDescription :</label>
                                        <textarea class="form-control editor" id="Jobdescription" name="Jobdescription" rows="2"></textarea>
                                        <span class="text-danger" id="jobdescError"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary btn-round" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
