@using Recruitment.Models.Entities
@model RoleRequest

<h2>Role List</h2>

<section class="basic-elements">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline-primary">
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                @* <button type="button" class="btn btn-outline-primary btn-round mr-2" id="btnAddNew"> *@
                                @*  <i class="fa fa-plus mr-1"></i>Add New @ViewData["Title"] *@
                                <a id="addRoleBtn" data-bs-toggle="modal" class="btn btn-outline-primary btn-round mr-2" style="float:right">Add Role</a>
                            </div>
                        </div></br>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table display nowrap table-striped table-bordered scroll-horizontal w-100 text-center nowrap dataTable no-footer" id="tbldata">
                                    <thead>
                                        <tr>
                                            <th>Sr No.</th>
                                            <th>Role</th>
                                            <th>Is Active</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@section Scripts {
    <script src="@Href("~/js/ckeditor.js")"></script>

    <script src="@Href("~/js/Pages/Role.js")"></script>
    <!-- Modal -->
    <div class="modal fade" id="addRoleModal" tabindex="-1" aria-labelledby="addROleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addROleModalLabel">@ViewData["Title"] Role</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="form">
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="RoleId" />
                        <div class="mb-3">
                            <label class="form-label" asp-for="Rolename">Role :</label>
                            <input type="text" class="form-control" id="Rolename" name="Rolename" required>
                            <span class="text-danger" id="roleError"></span>
                            <div class="col-md-4 mt-1">
                                <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                    <br />
                                    <label class="form-label" asp-for="IsActive">Is Active</label>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="IsActive" name="IsActive" />
                                        <span class="text-danger" id="isactiveError"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary btn-round" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-primary btn-round" id="btnMdlSave">Save</button>
                </div>
            </div>
        </div>
    </div>
}

