@using Recruitment.Models.Entities
@model ApplicationFormRequest

@{
    ViewData["Title"] = "Application Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Application Form</h2>
@* <style>
    .table-responsive {
        max-height: 500px;
        overflow-y: auto;
    }
</style> *@
@section Scripts {
<script src="@Href("~/js/Pages/ApplicationForm.js")"></script>
}
<div class="card" id="addCandidateModal">
    <div class="card-body">
        <form id="form">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Candidate_id" />
            <input type="hidden" asp-for="Job_id" />
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label" asp-for="Title">Title:</label>
                    <select id="Title" name="Title" class="form-select">
                        <option value="Mr">Mr.</option>
                        <option value="Miss">Miss</option>
                        <option value="Mrs">Mrs.</option>
                    </select>
                    <span class="text-danger" id="titleError"></span>
                </div>
                <div class="col-md-6">
                    <label class="form-label" asp-for="FirstName">Firstname:</label>
                    <input type="text" class="form-control" id="Firstname" name="Firstname">
                    <span class="text-danger" id="firstnameError"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label" asp-for="MiddleName">Middle Name :</label>
                    <input type="text" class="form-control" id="MiddleName" name="Middlename">
                    <span class="text-danger" id="middlenameError"></span>
                </div>
                <div class="col-md-6">
                    <label class="form-label" asp-for="LastName">Lastname:</label>
                    <input type="text" class="form-control" id="Lastname" name="Lastname">
                    <span class="text-danger" id="lastnameError"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label" asp-for="Dateofbirth">Date of Birth:</label>
                    <input type="date" class="form-control" id="Dateofbirth" name="Dateofbirth">
                    <span class="text-danger" id="dobError"></span>
                </div>
                <div class="col-md-6">
                    <label class="form-label" asp-for="Age">Age :</label>
                    <input type="text" class="form-control" id="Age" name="Age">
                    <span class="text-danger" id="ageError"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label" asp-for="Contactno">Contact No. :</label>
                    <input class="form-control" id="Contactno" name="Contactno">
                    <span class="text-danger" id="contactnoError"></span>
                </div>
                <div class="col-md-6">
                    <label class="form-label" asp-for="Email">Email :</label>
                    <input class="form-control" type="text" id="Email" name="Email">
                    <span class="text-danger" id="emailError"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Gender:</label>
                    <div>
                        <input type="radio" class="form-check-input" asp-for="Gender" value="Male" id="Gender_Male" /> <label class="form-check-label" for="Gender_Male">Male</label> <br />
                        <input type="radio" class="form-check-input" asp-for="Gender" value="Female" id="Gender_Female" /> <label class="form-check-label" for="Gender_Female">Female</label> <br />
                        <input type="radio" class="form-check-input" asp-for="Gender" value="Other" id="Gender_Other" /> <label class="form-check-label" for="Gender_Other">Other</label>
                    </div>
                    <span class="text-danger" id="genderError"></span>
                </div>
                <div class="col-md-6">
                    <label class="form-label" asp-for="Address">Address :</label>
                    <textarea id="Address" name="Address" cols="74" rows="3"></textarea>
                    <span class="text-danger" id="addressError"></span>
                </div>
            </div>  

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label" asp-for="qualification">Qualification :</label>
                    <select id="qualification" name="qualification" class="form-control">
                        <option value="">Select Qualification</option>
                    </select>
                    <span class="text-danger" id="qualificationError"></span>
                </div>
                <div class="col-md-6">
                    <label class="form-label" asp-for="Experience">Experience :</label>
                    <select id="Experience" name="Experience" class="form-control">
                        <option value="">Select Experience</option>
                    </select>
                    <span class="text-danger" id="experienceError"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Candidate Image:</label>
                    <input type="file" class="form-control" asp-for="Candidate_image" id="CandidateImageFile" />
                    <span class="text-danger" id="candidateError"></span>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Resume Image:</label>
                    <input type="file" class="form-control" asp-for="Resume_image" id="ResumeImageFile" />
                    <span class="text-danger" id="resumeError"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label" asp-for="Result">Status:</label>
                    <select id="Result" name="Result" class="form-select">
                        <option value="Pendding">Pendding</option>
                        <option value="Selected">Selected</option>
                        <option value="Rejected">Rejected</option>
                    </select>
                    <span class="text-danger" id="resultError"></span>
                </div>
                <div class="col-md-6">
                    <label class="form-label" asp-for="IsActive">Is Active:</label>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" asp-for="IsActive" />
                    </div>
                    <span class="text-danger" id="isactiveError"></span>
                </div>
            </div>
            <div style="float:right;">
          @*       <button type="button" class="btn grey btn-outline-secondary btn-round" data-bs-dismiss="modal">Close</button> *@
                <button type="submit" class="btn btn-outline-primary btn-round" id="btnMdlSave">Save</button>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@* @section Scripts {
    <script src="@Href("~/js/ckeditor.js")"></script>

    <script src="@Href("~/js/Pages/ListofCandidate.js")"></script> *@
    <!-- Modal -->
   @*  <div class="modal fade" id="addCandidateModal" tabindex="-1" aria-labelledby="addCandidateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCandidateModalLabel">@ViewData["Title"] Candidate</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                   
                </div>
                <div class="modal-footer">
                   
                </div>
            </div>
        </div>
    </div> *@
@* } *@
